@import url('https://fonts.googleapis.com/css?family=Manjari:normal,bold,bolditalic,italic');


.home-page {
    font-family: 'Manjari';
    margin-bottom: 20px;
}

.profile-image {
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.globe-image {
    margin-top: 7px;
    margin-right: 10px;
}

.heading-container {
    border-bottom: #ffffff 1px solid;
    margin-right: 50%;
}

.heading-1 {
    color: #ffffff;
    font-size: 80px;
    margin: auto;
}

h2 {
    color: #d9d9d9;
    font-size: 60px;
    margin: 0;
}

h4 {
    color: #d9d9d9;
    font-size: 40px;
    margin: 0;
}

.heading-3 {
    color: #ffffff;
    font-size: 40px;
    margin: 0;
}

.start-button {
    font-size: 30px;
    padding: 5px 15px;
    border: none;
    color: #fff;
    background-color: #F45866;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 15px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px -5px rgba(0,0,0,0.75);
    text-align: center;
}

.start-button:focus {
    outline: none;
}

.start-button:hover {
    text-decoration: none;
}

.chevron {
    margin: 0 10 5 0;
}

@media only screen and (max-width: 675px) {
    .main-blurb {
        font-size: 50px;
    }

    .sub-blurb {
        font-size: 40px;
    }

    .sub-blurb, .sub-blurb, .start-button {
        font-size: 30px;
    }

    .start-button {
        font-size: 20px;
    }
}