@import url('https://fonts.googleapis.com/css?family=Manjari:normal,bold,bolditalic,italic');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

* {
    font-family: 'Manjari';
}

.track-stats {
    border-radius: 10px;
}

.time-text {
    font-family: 'Fredoka One';
    font-size: 22px;
}

.date-nav {
    background-color: #1DB954;
    padding: 10px 3px;
    border-radius: 10px;
}

.nav-item {
    color: #1DB954;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
}

.nav-link {
    outline: 0;
}

.nav-item > .nav-link {
    color: #ffffff;
    border-radius: 10px;
}

.nav > .nav-item > .active {
    border: 5px solid #ffffff;
}

.pg-title {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Fredoka One';
    margin: 0;
}

.card {
    border-radius: 10px;
    border: none;
}

.list-group-item {
    padding-left: 0;
    padding-right: 0;
}


.track-img {
    border-radius: 10px;
}