@import url('https://fonts.googleapis.com/css?family=Manjari:normal,bold,bolditalic,italic');

.footer {
    font-family: 'Manjari';
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #ffffff;
}

.nav-item {
    border-bottom: 0px;
}